.lista ul li{
    color: #fff;
    font-size: 20px;
    margin-top: 68px;
    padding: 28px;
    line-height: auto;
    list-style: none;
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.lista ul{
    display: flex;
    flex-direction: row;

}

.lista::before {
    content: "";
    background-image: url("../imgages/logotipo.png");
    height: 130px;
    width: 227px;
    background-size: 227px 130px;
    position: absolute;
    background-repeat: no-repeat;
    top: 20px;
    left: 35px;
    box-sizing: border-box;
}